<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BarkCheckIntervalSeconds" value="30" />
    <add key="BarkCloudServiceUrl" value="http://[Azure-Url-Here].cloudapp.net/" />
    <add key="TwilioAccountSid" value="[Twilio-Accound-Sid-Here]" />
    <add key="TwilioAuthToken" value="[Twilio-Auth-Token-Here]" />
    <add key="TwilioSenderNumber" value="+44[Twilio-Assigned-Number-Here]" />
    <add key="TwilioRecipentNumber" value="+44[Twilio-Registered-Number-Here]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>